{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-text">
                    <h1> ToDo List</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
        <div class="col-md-6   banner-text"   style="float:none;margin:auto;">
            <div class="row  ">
              <h3> Task Details </h3>
            </div>
            <div class=" shadow card field-space">
                <div class="card-body">
                    <h5 class="card-title">
                        {{task.name}}
                    </h5>
                    <p>Priority : {{task.priority }}</p>
                    <a class="btn btn-success" href="{% url 'todoapp:classbaseviewupdate' task.id%} "> Update</a>
                    <a class="btn btn-danger" href="{% url 'todoapp:classbaseviewdelete' task.id%} "> Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}